#header{
    width:50px;
    height:100px;
    margin:0px;
    float:left;
}

#searchbar{
    width:500px;
    height:100px;
    margin-left: 400px;
    margin-top: 55px;
    float:left;
}

#contact{
    width:100px;
    float:right;
    height:100px;
}

#about{
    width:20px;
    float:right;
    height:100px;
    margin: 1000;
}

#search{
    padding: 10px;
    box-sizing: 2px;
    border-radius: 20px;
    margin-left: -20px;
    width:350px;
    position: relative;
    box-shadow: 3px 3px 10px 0px #888888;
}
    
#submit{
    position:relative;
    padding:2px 10px dimgray;
    width:50px;
    height:33px;
    margin:0px;
    background-color:whitesmoke;
    border:2px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px 0px #888888;
}

#menu{
    position:relative;
    padding: 10px;
    
}

#li{
    display:inline;
}