{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
    <ul class="nav">
        <li class="long"><a href="#" class="dropbtn">首页</a>
        <li class="long"><a href="#" class="dropbtn">长途</a>
    	<div class="long-content">
      		<a href="#">提供</a>
      		<a href="#">需求</a>
        </div>
        </li>

        <li class="same"><a href="#" class="dropbtn">同城</a>
            <div class="same-content">
                <a href="#">提供</a>
                <a href="#">需求</a>
            </div>
        </li>


        <li class="air"><a href="#" class="dropbtn">机场接送</a>
            <div class="air-content">
                <a href="#">提供</a>
                <a href="#">需求</a>
            </div>
        </li>

        <li class="stuff"><a href="#" class="dropbtn">带物</a>
            <div class="stuff-content">
                <a href="#">提供</a>
                <a href="#">需求</a>
            </div>
        </li>

        <li class="move"><a href="#" class="dropbtn">搬家</a>
            <div class="move-content">
                <a href="#">提供</a>
                <a href="#">需求</a>
            </div>
        </li>

        <li class="about"><a href="#" class="dropbtn">关于</a>
            <div class="about-content">
                <a href="#">关于我们</a>
                <a href="#">联系我们</a>
                <a href="#">Facebook</a>
                <a href="#">新浪微博</a>

            </div>
        </li>
    </ul>


  <div class="cover">
    <h1 class="logo">Surfcar</h1>
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="login">
      <h2>{% trans 'Log in' %}</h2>
      <form method="post" action="{% url 'login' %}" role="form">
        {% csrf_token %}
        <div class="form-group{% if form.username.errors %} has-error{% endif %}">
          <label for="username">{% trans 'Username' %}</label>
          <input type="text" class="form-control" id="username" name="username">
          {% for error in form.username.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
        <div class="form-group{% if form.password.errors %} has-error{% endif %}">
          <label for="password">{% trans 'Password' %}</label>
          <input type="password" class="form-control" id="password" name="password">
          {% for error in form.password.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{% trans 'Log in' %}</button>
          <a href="{% url 'signup' %}" class="btn btn-link">{% trans 'Sign up for Surfcar' %}</a>
        </div>
      </form>
    </div>
  </div>
{% endblock body %}
