<ul class="pagination">
    {% if paginator.has_previous %}
        <li><a href="?page={{ first_page }}">&laquo;</a> </li>
        <li><a href="?page={{ paginator.previous_page_number }}">&lt;</a></li>
    {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in page_range %}
        {% if paginator.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if paginator.has_next %}
        <li><a href="?page={{ paginator.next_page_number }}">&gt;</a></li>
        <li><a href="?page={{ end_page }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>